env/
config/__pycache__/
store/__pycache__/
orders/__pycache__/
basket/__pycache__/
store/migrations/
orders/migrations/
basket/migrations/
store/migrations/__pycache__/
orders/migrations/__pycache__/

db.sqlite3







