<div class="d-flex flex-wrap" style="gap: 10px;">
    {% for product in products %}
    <div class="card item-card">
        <img src="{{product.image.url}}" class="card-img-top item-img" alt="{{product.title}}">
        <div class="card-body px-2">
            <h5 class="card-title"><a class="nav-link" href="{{ product.get_absolute_url }}">{{product.title }} ({{product.price.quantity}} {{product.price.unit}})</a></h5>
            <h6 class="card-subtitle mb-2 text-muted bg-success bg-opacity-50 d-inline text-success">{{product.discount}}% OFF|{{product.in_season}}</h6>
            <br>
            <p class="card-text"><h6>&#8358; {{product.get_discount_price}}</h6> <del>&#8358;{{ product.price.price }}</del> <small>per {{product.price.quantity}}{{product.price.unit.title}}</small></p>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#orderModal" data-product={{product.id}}>ORDER NOW</a>
        </div>
    </div>
    {% empty %}
    <span>No product available at the moment...</span>
    {% endfor %}
</div>