{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .order-type-btn-popup{
        background: #FAB814;
        color: #000;
        font-size: 14px;
        padding: 14px 12px;
        border-radius: 5px;
        font-weight: 700;
        border: none;
    }

    .product-image{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 5px;
    }

    .price{
        color: #666666;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
    }

    .product-description{
        font-family: 'Lato', sans-serif;
        color: #777777;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    .product-categories{
        font-family: 'Lato', sans-serif;
        color: #777777;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
    a.categories{
        color:#323a45;
        font-size: 13px;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="product-details row mt-5">
            <!-- Product Image.. -->
            <div class="col">
                <div class="simple-gallery">
                    <img class="product-image" src="{{product.image.url}}">
                </div>
            </div>
            <!-- Product Details(Price, Title, Socials) -->
            <div class="col">
                <div class="prodetails-content">
                    <small>Item #{{product.id}}</small>
                    <div class="row">
                        <div class="col-lg-10">
                            <h4 class="heading">{{product.title}} ({{product.price.quantity}}{{product.price.unit.title}}) </h4>
                            <p class="product-description">
                                {{product.description|slice:":300"}}...
                            </p>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="#" class="grey-bg">
                        32% OFF
                        | <span class="clr-gr">In Season</span>
                    </a> -->
                    <h4 class="mb-3 mt-1 price">&#8358;{{product.price.price}} <small>per {{product.price.quantity}}{{product.price.unit.title}}</small></h4>
                    <hr class="d-none d-lg-block">
                    <!-- <span class="product-categories">
                        Categories:
                        {% for category in product.categories_set.all %}
                        <a class="categories" href="{{ category.get_absolute_url }}">{{category.name}}</a>, 
                        {% endfor %}
                    </span> -->
                    <div class="button-wrapper mt-4 mb-4 d-none d-lg-block">
                        <a href="javascript:void(0)">
                            <button type="button" class="text-uppercase  order-type-btn-popup " data-bs-toggle="modal"
                                data-bs-target="#orderModal"  data-product={{product.id}}>Order Now</button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Product Details(Price, Title, Socials) End -->

        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    window.onload = ()=>{

    
        var active_product_id  //Either pally form or single pay form
        var pay_single = true;
        $("input[type='number']").inputSpinner();
        var orderModal = document.getElementById('orderModal');
        orderModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            active_product_id = button.getAttribute('data-product')
            document.getElementById('order-quantity').value = 1
            //document.getElementById('reset-product-qty').click();
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.

        })

        function orderSuccess(){
            $('#closeOrderModal').click()
            $('#orderSuccessModal').modal('show');
        }

        $(document).on('click', '#addtocart-button', function (e) {
        e.preventDefault();

            if(pay_single){
                product_id = active_product_id
                $.ajax({
                    type: 'POST',
                    url: '{% url "basket:basket_add" %}',
                    data: {
                        productid: active_product_id,
                        productqty: $('#order-quantity').val(),
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'post'
                    },
                    success: function (json) {
                        orderSuccess()
                        document.getElementById("basket-qty").innerHTML = json.qty
                    },
                    error: function (xhr, errmsg, err) {}
                });
            }

            else{
                $.ajax({
                    type: 'POST',
                    url: '{% url "basket:basket_create_pally" %}',
                    data: {
                        productid: active_product_id,
                        productqty: 1,
                        no_of_person: $('#number_of_person').val(),
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'post'
                    },
                    success: function (json) {
                        orderSuccess()
                        document.getElementById("basket-qty").innerHTML = json.qty
                    },
                    error: function (xhr, errmsg, err) {}
                });
            }
        })
    }

</script>
{% endblock %}