{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <h1>Executive Summary</h1>
    <h2>Our Company</h2>
    <p>
        Super Saver LTD is a company founded and spearheaded in the Federal Republic of Nigeria that operates in the
        provision of affordable food items and foodstuff to lessen the burden of the rising food inflation on the
        average family.
        We aim to provide many individuals and companies with the best prices the market/industry has to offer in order
        to cut down cost of production for producers using our inputs and to ease the financial cost on individuals. We
        offer comfort as individuals can place their orders via our online marketplace and cut out the unnecessary and
        excessive middlemen cost by providing goods straight from our trusted set of farmers. Our agenda is to set up an
        online farmers market where we are offering competitive prices, excellent customer service and a range of
        helpful products and services that serve the community with the best that they deserve.
    </p>
    <h1>General Company Description</h1>
    <h3>Our Mission</h3>
    <p>
        Super Saver LTD believes in providing freshly produced food items to our society, we believe that using this
        initiative to inspire and implement solutions is one of the ways we can solve the current societal issues
        surrounding harmful and substandard products that leave our communities unhealthy, unhappy and unsatisfied. Our
        mission is to provide access to the best quality farm-fresh food items at affordable prices for families and
        businesses living in Ibadan with the utmost efficiency.
    </p>

    <h3>
        Our vision
    </h3>
    <p>
        Our vision is to create an alternative food system to the existing market system that is smart and
        super-efficient to the benefit of all value-add players in the food value chain and to become the go to grocery
        distributor in the area.
    </p>
    <h1>
        Our Story
    </h1>
    <p>
        We at Super Savers hope to bring innovation to an inefficient food distribution system in Ibadan, Oyo state. We
        believe in connecting farmers, manufacturers, and wholesalers directly to you, the consumer, in an innovative
        way that benefits all players in the value chain. We want to build the next generation food system for Ibadan
        and Nigeria at large, a platform where key players in the food value chain who add value can plug in to exchange
        their deals with the end consumer.
        We are not just another online service provider for fresh bulk food items. We are more than that.
        Using Data, Technology, and Partnerships, we hope to build a system that enables our customers to get the best
        value for their money at no extra cost and from the convenience of their homes and workplaces.
        At Super Saver, we believe in Sharing, and that is why we have enabled our customers with the Pally feature,
        which allows them to get more for less and build community spirit.
    </p>
    <h3>
        Industry and Market
    </h3>
    <p>
        Our company (Super Savers) can be seen to exist in the FMCG industry, this is an industry were products that
        sell quickly at relatively low cost. These goods are also called consumer packaged goods.


        FMCGs have a short shelf life because of high consumer demand (e.g., soft drinks and confections) or because
        they are perishable (e.g., meat, dairy products, and baked goods). These goods are purchased frequently, are
        consumed rapidly, are priced low, and are sold in large quantities.
    </p>



</div>
{% endblock %}